# Brand Names for Image Retrieval From Instagram

**Goal:** process data to get all brand names to search for images on instagram

### 1. Import dependencies

Install non-standard libraries: requests, BeautifulSoup

In [2]:
import os
import pandas as pd
import numpy as np

### 2. Get Brand Names from Data

In [3]:
# to specify
directory= r'C:\Users\Anonym\Documents\GitHub\DLfM_BrandManagement\other_project\data\brand_hashtag_and_account'
os.chdir(directory)

#### 2.1 Load all dataframes 

There are dataframes for apparel and beverage brand category. Then, there are total dataframes that include both brand categories and add the information about the full name and instagram name of the brand name. 

First, we get out apparel brand dataframes.

In [4]:
#convert to dataframe 

data1 = pd.read_csv('apparel_brands.txt', header=None)
data1.columns = ["apparel_brands"]
data1.sort_values(by='apparel_brands')
print(data1.head())
print(data1.info())

   apparel_brands
0  bananarepublic
1    juicycouture
2     underarmour
3           levis
4      eddiebauer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 1 columns):
apparel_brands    29 non-null object
dtypes: object(1)
memory usage: 360.0+ bytes
None

In [5]:
data2 = pd.read_csv('apparel_full_brand_names.txt', header=None)
data2.columns = ["apparel_full_brand_names"]
data2.sort_values(by='apparel_full_brand_names')
print(data2.head())
print(data2.info())

  apparel_full_brand_names
0      Abercrombie & Fitch
1                   Adidas
2               Ann Taylor
3          Banana Republic
4                 Carhartt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 1 columns):
apparel_full_brand_names    29 non-null object
dtypes: object(1)
memory usage: 360.0+ bytes
None

In [6]:
data3 = pd.read_csv('official_apparel_brands.txt', header=None)
data3.columns = ["official_apparel_brands"]
data3.sort_values(by='official_apparel_brands')
print(data3.head())
print(data3.info())

  official_apparel_brands
0          bananarepublic
1            juicycouture
2             underarmour
3                   levis
4              eddiebauer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 1 columns):
official_apparel_brands    29 non-null object
dtypes: object(1)
memory usage: 360.0+ bytes
None

Get out all beverage brands.

In [7]:
data4 = pd.read_csv('beverage_brands.txt', header=None)
data4.columns = ["beverage_brands"]
print(data4.head())
print(data4.info())

  beverage_brands
0          corona
1      coorslight
2        budlight
3       budweiser
4          korbel
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 1 columns):
beverage_brands    27 non-null object
dtypes: object(1)
memory usage: 344.0+ bytes
None

In [8]:
data5 = pd.read_csv('beverage_full_brand_names.txt', header=None)
data5.columns = ["beverage_full_brand_names"]
print(data5.head())
print(data5.info())

  beverage_full_brand_names
0                   Bacardi
1             Bigelow's Tea
2                 Bud Light
3                 Budweiser
4                 Coca-Cola
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 1 columns):
beverage_full_brand_names    27 non-null object
dtypes: object(1)
memory usage: 344.0+ bytes
None

In [9]:
data6 = pd.read_csv('official_beverage_brands.txt', header=None)
data6.columns = ["official_beverage_brands"]
print(data6.head())
print(data6.info())

  official_beverage_brands
0                   corona
1               coorslight
2                 budlight
3                budweiser
4              korbel_1882
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 1 columns):
official_beverage_brands    24 non-null object
dtypes: object(1)
memory usage: 320.0+ bytes
None

Get apparel + beverage dataframes 

Convert the brand names of a user profile to a full brand name or a hashtag to a full brandname or vice versa.

In [10]:
data7 = pd.read_csv('official_account_to_brand_name.txt')
data7.sort_values(by='firm_account')
data7.columns = ['firm_account', 'brand_full_name']
print(data7)
print(data7.info())

              firm_account       brand_full_name
0              abercrombie   Abercrombie & Fitch
1                   adidas                Adidas
2                anntaylor            Ann Taylor
3               bacardiusa               Bacardi
4           bananarepublic       Banana Republic
5               bigelowtea         Bigelow`s Tea
6                 budlight             Bud Light
7                budweiser             Budweiser
8                 carhartt              Carhartt
9                 cocacola             Coca-Cola
10                converse              Converse
11              coorslight           Coors Light
12                  corona                Corona
13           dockerskhakis               Dockers
14            dolcegabbana       Dolce & Gabbana
15             domperignon          Dom Perignon
16                drpepper             Dr Pepper
17              eddiebauer           Eddie Bauer
18                   fanta                 Fanta
19                     gap                   Gap
20                gatorade              Gatorade
21               greygoose            Grey Goose
22                   gucci                 Gucci
23                   guess                 Guess
24             hanesbrasil                 Hanes
25             hollisterco             Hollister
26               honesttea            Honest Tea
27          jackdaniels_us         Jack Daniel`s
28                   jcrew               J. Crew
29           joeboxerlicky             Joe Boxer
30            juicycouture         Juicy Couture
31             kennethcole          Kenneth Cole
32             korbel_1882                Korbel
33                   levis                Levi`s
34                  lipton                Lipton
35                  llbean             L.L. Bean
36            luckybrandme     Lucky Brand Jeans
37             moetchandon        Moet & Chandon
38           monsterenergy       Monster (drink)
39              nesquikusa               NesQuik
40                 oldnavy              Old Navy
41             oshkoshkids               OshKosh
42                   prada                 Prada
43             ralphlauren          Ralph Lauren
44  sanpellegrino_official        San Pellegrino
45                 snapple               Snapple
46                    tazo                  Tazo
47           tommyhilfiger        Tommy Hilfiger
48             underarmour          Under Armour
49         urbanoutfitters      Urban Outfitters
50         victoriassecret     Victoria`s Secret
51            vitaminwater          vitaminwater
52                  welchs               Welch`s
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 2 columns):
firm_account       53 non-null object
brand_full_name    53 non-null object
dtypes: object(2)
memory usage: 976.0+ bytes
None

In [11]:
data8 = pd.read_csv('instagram_hashtag_to_brand_name.txt')
data8.columns = ['instagram_hashtag', 'brand_full_name']
print(data8)
print(data8.info())

   instagram_hashtag       brand_full_name
0              fanta                 Fanta
1         coorslight           Coors Light
2          greygoose            Grey Goose
3             corona                Corona
4      monsterenergy       Monster (drink)
5         minutemaid           Minute Maid
6           gatorade              Gatorade
7        jackdaniels         Jack Daniel`s
8        abercrombie   Abercrombie & Fitch
9           carhartt              Carhartt
10        eddiebauer           Eddie Bauer
11          joeboxer             Joe Boxer
12       underarmour          Under Armour
13            adidas                Adidas
14          cocacola             Coca-Cola
15      juicycouture         Juicy Couture
16   urbanoutfitters      Urban Outfitters
17         anntaylor            Ann Taylor
18          converse              Converse
19               gap                   Gap
20       kennethcole          Kenneth Cole
21           oldnavy              Old Navy
22   victoriassecret     Victoria`s Secret
23            korbel                Korbel
24      vitaminwater          vitaminwater
25           bacardi               Bacardi
26             levis                Levi`s
27             prada                 Prada
28    bananarepublic       Banana Republic
29           dockers               Dockers
30             guess                 Guess
31            lipton                Lipton
32     sanpellegrino        San Pellegrino
33           bigelow         Bigelow`s Tea
34      dolcegabbana       Dolce & Gabbana
35             hanes                 Hanes
36        luckybrand     Lucky Brand Jeans
37           snapple               Snapple
38          budlight             Bud Light
39       domperignon          Dom Perignon
40         honesttea            Honest Tea
41         budweiser             Budweiser
42          drpepper             Dr Pepper
43       moetchandon        Moet & Chandon
44              tazo                  Tazo
45            llbean             L.L. Bean
46           oshkosh               OshKosh
47       ralphlauren          Ralph Lauren
48             gucci                 Gucci
49     tommyhilfiger        Tommy Hilfiger
50         hollister             Hollister
51             jcrew               J. Crew
52            welchs               Welch`s
53             motts                Mott`s
54           nesquik               NesQuik
55         swissmiss            Swiss Miss
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 2 columns):
instagram_hashtag    56 non-null object
brand_full_name      56 non-null object
dtypes: object(2)
memory usage: 1.0+ KB
None

#### 2.2 Build global dataframe from single dataframes

From the individual dataframes about apparel and beverage, a global dataframe is built which gives an overview over all brand names and categorizes them into a brand category.

In [12]:
data78 = pd.merge(data7, data8, how='outer', left_on='brand_full_name', right_on='brand_full_name')
data78 = data78[['instagram_hashtag', 'firm_account','brand_full_name' ]] #reorder columns 
data78

   instagram_hashtag            firm_account       brand_full_name
0        abercrombie             abercrombie   Abercrombie & Fitch
1             adidas                  adidas                Adidas
2          anntaylor               anntaylor            Ann Taylor
3            bacardi              bacardiusa               Bacardi
4     bananarepublic          bananarepublic       Banana Republic
5            bigelow              bigelowtea         Bigelow`s Tea
6           budlight                budlight             Bud Light
7          budweiser               budweiser             Budweiser
8           carhartt                carhartt              Carhartt
9           cocacola                cocacola             Coca-Cola
10          converse                converse              Converse
11        coorslight              coorslight           Coors Light
12            corona                  corona                Corona
13           dockers           dockerskhakis               Dockers
14      dolcegabbana            dolcegabbana       Dolce & Gabbana
15       domperignon             domperignon          Dom Perignon
16          drpepper                drpepper             Dr Pepper
17        eddiebauer              eddiebauer           Eddie Bauer
18             fanta                   fanta                 Fanta
19               gap                     gap                   Gap
20          gatorade                gatorade              Gatorade
21         greygoose               greygoose            Grey Goose
22             gucci                   gucci                 Gucci
23             guess                   guess                 Guess
24             hanes             hanesbrasil                 Hanes
25         hollister             hollisterco             Hollister
26         honesttea               honesttea            Honest Tea
27       jackdaniels          jackdaniels_us         Jack Daniel`s
28             jcrew                   jcrew               J. Crew
29          joeboxer           joeboxerlicky             Joe Boxer
30      juicycouture            juicycouture         Juicy Couture
31       kennethcole             kennethcole          Kenneth Cole
32            korbel             korbel_1882                Korbel
33             levis                   levis                Levi`s
34            lipton                  lipton                Lipton
35            llbean                  llbean             L.L. Bean
36        luckybrand            luckybrandme     Lucky Brand Jeans
37       moetchandon             moetchandon        Moet & Chandon
38     monsterenergy           monsterenergy       Monster (drink)
39           nesquik              nesquikusa               NesQuik
40           oldnavy                 oldnavy              Old Navy
41           oshkosh             oshkoshkids               OshKosh
42             prada                   prada                 Prada
43       ralphlauren             ralphlauren          Ralph Lauren
44     sanpellegrino  sanpellegrino_official        San Pellegrino
45           snapple                 snapple               Snapple
46              tazo                    tazo                  Tazo
47     tommyhilfiger           tommyhilfiger        Tommy Hilfiger
48       underarmour             underarmour          Under Armour
49   urbanoutfitters         urbanoutfitters      Urban Outfitters
50   victoriassecret         victoriassecret     Victoria`s Secret
51      vitaminwater            vitaminwater          vitaminwater
52            welchs                  welchs               Welch`s
53        minutemaid                     NaN           Minute Maid
54             motts                     NaN                Mott`s
55         swissmiss                     NaN            Swiss Miss

In [39]:
data13 = pd.concat([data1, data3], axis=1)
data13.head()

   apparel_brands official_apparel_brands
0  bananarepublic          bananarepublic
1    juicycouture            juicycouture
2     underarmour             underarmour
3           levis                   levis
4      eddiebauer              eddiebauer

In [40]:
# data cleaning
data2['apparel_full_brand_names'].replace(" Victoria's Secret", "Victoria's Secret", inplace=True) #victoria's secret's aposthrophe different to same 
data7['brand_full_name'].replace(" Victoria`s Secret", "Victoria's Secret", inplace=True) #victoria's secret's aposthrophe different to same 
data2['apparel_full_brand_names'].replace(" Levi's", "Levi's", inplace=True) #victoria's secret's aposthrophe different to same 
data7['brand_full_name'].replace(" Levi`s", "Levi's", inplace=True) #victoria's secret's aposthrophe different to same

In [41]:
data27 = pd.merge(data2, data7, how='outer', left_on='apparel_full_brand_names', right_on='brand_full_name')
data27.head()

  apparel_full_brand_names    firm_account       brand_full_name
0      Abercrombie & Fitch     abercrombie   Abercrombie & Fitch
1                   Adidas          adidas                Adidas
2               Ann Taylor       anntaylor            Ann Taylor
3          Banana Republic  bananarepublic       Banana Republic
4                 Carhartt        carhartt              Carhartt

In [42]:
data1327 = pd.merge(data13, data27, how='outer', left_on='official_apparel_brands', right_on='firm_account')
data1327 = data1327.where(pd.notnull(data1327), None)
data1327

,apparel_brands,official_apparel_brands,apparel_full_brand_names,firm_account,brand_full_name
0,bananarepublic,bananarepublic,Banana Republic,bananarepublic,Banana Republic
1,juicycouture,juicycouture,Juicy Couture,juicycouture,Juicy Couture
2,underarmour,underarmour,Under Armour,underarmour,Under Armour
3,levis,levis,Levi's,levis,Levi's
4,eddiebauer,eddiebauer,Eddie Bauer,eddiebauer,Eddie Bauer
5,oldnavy,oldnavy,Old Navy,oldnavy,Old Navy
6,anntaylor,anntaylor,Ann Taylor,anntaylor,Ann Taylor
7,converse,converse,Converse,converse,Converse
8,dolcegabbana,dolcegabbana,Dolce & Gabbana,dolcegabbana,Dolce & Gabbana
9,prada,prada,Prada,prada,Prada
10,abercrombie,abercrombie,Abercrombie & Fitch,abercrombie,Abercrombie & Fitch
11,gap,gap,Gap,gap,Gap
12,adidas,adidas,Adidas,adidas,Adidas
13,victoriassecret,victoriassecret,Victoria's Secret,victoriassecret,Victoria's Secret
14,carhartt,carhartt,Carhartt,carhartt,Carhartt
15,luckybrand,luckybrandme,Lucky Brand Jeans,luckybrandme,Lucky Brand Jeans
16,dockers,dockerskhakis,Dockers,dockerskhakis,Dockers
17,kennethcole,kennethcole,Kenneth Cole,kennethcole,Kenneth Cole
18,guess,guess,Guess,guess,Guess
19,hanes,hanesbrasil,Hanes,hanesbrasil,Hanes
20,joeboxer,joeboxerlicky,Joe Boxer,joeboxerlicky,Joe Boxer
21,urbanoutfitters,urbanoutfitters,Urban Outfitters,urbanoutfitters,Urban Outfitters
22,llbean,llbean,L.L. Bean,llbean,L.L. Bean
23,oshkosh,oshkoshkids,OshKosh,oshkoshkids,OshKosh
24,ralphlauren,ralphlauren,Ralph Lauren,ralphlauren,Ralph Lauren
25,gucci,gucci,Gucci,gucci,Gucci
26,tommyhilfiger,tommyhilfiger,Tommy Hilfiger,tommyhilfiger,Tommy Hilfiger
27,hollister,hollisterco,Hollister,hollisterco,Hollister
28,jcrew,jcrew,J. Crew,jcrew,J. Crew
29,None,None,None,bacardiusa,Bacardi
30,None,None,None,bigelowtea,Bigelow`s Tea
31,None,None,None,budlight,Bud Light
32,None,None,None,budweiser,Budweiser
33,None,None,None,cocacola,Coca-Cola
34,None,None,None,coorslight,Coors Light
35,None,None,None,corona,Corona
36,None,None,None,domperignon,Dom Perignon
37,None,None,None,drpepper,Dr Pepper
38,None,None,None,fanta,Fanta
39,None,None,None,gatorade,Gatorade
40,None,None,None,greygoose,Grey Goose
41,None,None,None,honesttea,Honest Tea
42,None,None,None,jackdaniels_us,Jack Daniel`s
43,None,None,None,korbel_1882,Korbel
44,None,None,None,lipton,Lipton
45,None,None,None,moetchandon,Moet & Chandon
46,None,None,None,monsterenergy,Monster (drink)
47,None,None,None,nesquikusa,NesQuik
48,None,None,None,sanpellegrino_official,San Pellegrino
49,None,None,None,snapple,Snapple
50,None,None,None,tazo,Tazo
51,None,None,None,vitaminwater,vitaminwater
52,None,None,None,welchs,Welch`s

In [43]:
import numpy as np
def f(row):
    if row['apparel_full_brand_names'] != None:
        val = 'apparel'
    else:
        val = 'beverage'
    return val

In [44]:
data1327['brand_category']  = data1327.apply(f, axis=1)
data1327.head()

,apparel_brands,official_apparel_brands,apparel_full_brand_names,firm_account,brand_full_name,brand_category
0,bananarepublic,bananarepublic,Banana Republic,bananarepublic,Banana Republic,apparel
1,juicycouture,juicycouture,Juicy Couture,juicycouture,Juicy Couture,apparel
2,underarmour,underarmour,Under Armour,underarmour,Under Armour,apparel
3,levis,levis,Levi's,levis,Levi's,apparel
4,eddiebauer,eddiebauer,Eddie Bauer,eddiebauer,Eddie Bauer,apparel

In [45]:
data46 = pd.merge(data4, data6, how='outer', left_on='beverage_brands', right_on='official_beverage_brands')

In [46]:
data57 = pd.merge(data5, data7, how='outer', left_on='beverage_full_brand_names', right_on='brand_full_name')
data57

   beverage_full_brand_names     firm_account    brand_full_name
0                    Bacardi       bacardiusa            Bacardi
1              Bigelow's Tea              NaN                NaN
2                  Bud Light         budlight          Bud Light
3                  Budweiser        budweiser          Budweiser
4                  Coca-Cola         cocacola          Coca-Cola
..                       ...              ...                ...
56                       NaN      underarmour       Under Armour
57                       NaN  urbanoutfitters   Urban Outfitters
58                       NaN  victoriassecret  Victoria's Secret
59                       NaN     vitaminwater       vitaminwater
60                       NaN           welchs            Welch`s

[61 rows x 3 columns]

In [47]:
data4657 = pd.merge(data46, data57, how='outer', left_on='official_beverage_brands', right_on='firm_account')
data4657 = data4657.where(pd.notnull(data4657), None)
data4657

,beverage_brands,official_beverage_brands,beverage_full_brand_names,firm_account,brand_full_name
0,corona,corona,Corona,corona,Corona
1,coorslight,coorslight,Coors Light,coorslight,Coors Light
2,budlight,budlight,Bud Light,budlight,Bud Light
3,budweiser,budweiser,Budweiser,budweiser,Budweiser
4,korbel,None,Bigelow's Tea,None,None
...,...,...,...,...,...
120,None,None,None,ralphlauren,Ralph Lauren
121,None,None,None,tommyhilfiger,Tommy Hilfiger
122,None,None,None,underarmour,Under Armour
123,None,None,None,urbanoutfitters,Urban Outfitters
124,None,None,None,victoriassecret,Victoria's Secret

In [48]:
import numpy as np
def f(row):
    if row['beverage_full_brand_names'] == None:
        val = 'apparel'
    else:
        val = 'beverage'
    return val

In [49]:
data4657['brand_category']  = data4657.apply(f, axis=1)
data4657.head()

,beverage_brands,official_beverage_brands,beverage_full_brand_names,firm_account,brand_full_name,brand_category
0,corona,corona,Corona,corona,Corona,beverage
1,coorslight,coorslight,Coors Light,coorslight,Coors Light,beverage
2,budlight,budlight,Bud Light,budlight,Bud Light,beverage
3,budweiser,budweiser,Budweiser,budweiser,Budweiser,beverage
4,korbel,None,Bigelow's Tea,None,None,beverage

In [50]:
bigdf = pd.merge(data1327, data4657, how='outer')
bigdf = pd.merge(bigdf, data78, how='outer')

In [51]:
directory= r"C:\Users\Anonym\Documents\GitHub\DLfM_BrandManagement\data"

os.chdir(directory)
bigdf.tocsv('bigdf.csv')

AttributeError: 'DataFrame' object has no attribute 'tocsv'

### 3. Save Dataframes to csv

Specify directory to put in all data about dataframes for furhter processing.

In [ ]:
# to specify
directory= r"C:\Users\Anonym\Documents\GitHub\DLfM_BrandManagement\data"
folder = 'instagram_urls'

os.chdir(directory)
path = os.path.join(directory, folder)
    
try:  
    os.mkdir(folder)
except: 
    pass

os.chdir(path)

Put all firm account names (of all brand categories) into a list, which can be iterated over to get images from these firm accounts on Instagram. It is used to specify user-profiles Instagram pages.

In [ ]:
firm_usernames = data7.firm_account.values.tolist()

In [ ]:
def write_list_to_file(guest_list, filename):
    """Write the list to csv file."""

    with open(filename, "w") as outfile:
        for entries in guest_list:
            outfile.write(entries)
            outfile.write("\n")

write_list_to_file(firm_usernames, 'firm_usernames.csv')

Put all hashtag names (of all brand categories) into a list, which can be iterated over to get images from these hashtag results on Instagram. It is used to specify hashed Instagram pages.

In [ ]:
instagram_hashtags = data8.instagram_hashtag.values.tolist()

In [ ]:
def write_list_to_file(guest_list, filename):
    """Write the list to csv file."""

    with open(filename, "w") as outfile:
        for entries in guest_list:
            outfile.write(entries)
            outfile.write("\n")

write_list_to_file(instagram_hashtags, 'instagram_hashtags.csv')